body {
    background-color: #f1f1f1;
}

form {
    background-color: #fff;
    border-radius: 5px;
    width: 350px;
    padding: 20px;
    margin: 50px auto;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="email"] {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    background-color: #FF6200;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

.error {
    text-align: center;
    font-size: 18px;
}